
        <div class="Header">
            <a href="/index" class="logo-link">Whales Boating Center</a>
        </div>

        <ul class="nav-bar">
            <li><a href="/boats" class="nav-bar-link">Boats</a></li>
            <li><a href="/customers" class="nav-bar-link">Customers</a></li>
            <li><a href="/salespeople" class="nav-bar-link">Sales People</a></li>
            <li><a href="/maintenanceworkers" class="nav-bar-link">Maintenance Workers</a></li>
            <li><a href="/invoices" class="nav-bar-link">Invoices</a></li>
            <li><a href="/boatmaintenance" class="nav-bar-link">Boat Maintenance</a></li>
        </ul>